*{
  text-align: center;
  font-family: monospace;
  padding: 1px;
  margin-left: 2px;
  margin-right: 2px;
  background-attachment: fixed;
  background-color: chartreuse;
}
.signup-content{
 counter-reset: rgb(4, 26, 9);
 
}
.register-form{
  background-color: burlywood;
}

.wellcomenote{
  color: brown;
}
.navbar-nav{
  color: black;
  margin-left: 55%;
}
.signnup{
  background-color: white;
  
  
}

.signup-form {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(45, 0, 128);
  padding: 10px;
  color: azure;
}
.signin-form{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(2, 0, 128);
  padding: 10px;
}

 

